html {
    min-height: 100dvh;
}

body {
    font-family: sans-serif;
    color: #fafafa;
    background: linear-gradient(#172554, #1e3a8a);
}

h1 {
    text-align: center;
    font-size: 64px;
}

#grid-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: flex-end;
}

.array-element {
    outline: #57534e solid 2px;
    width: 48px;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
